In [18]:
import pandas as pd
import numpy as np

Data İndex metodu ile öyrənmə

In [19]:
obje=pd.Series(np.arange(5), index=['a','b','c','d','e'])

In [20]:
obje

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [21]:
obje['c']

2

In [22]:
obje[2]

2

In [23]:
obje[0:2]

a    0
b    1
dtype: int32

In [25]:
obje[['a','d']]

a    0
d    3
dtype: int32

In [26]:
obje[obje<4]

a    0
b    1
c    2
d    3
dtype: int32

In [27]:
obje['a':'c']

a    0
b    1
c    2
dtype: int32

In [28]:
obje['b':'c']=5
obje

a    0
b    5
c    5
d    3
e    4
dtype: int32

In [34]:
veri=pd.DataFrame(np.arange(16).reshape(4,4),index=['Bursa','Ankara','Rize','Istanbul'],
                 columns=['bir','iki','uc','dord'])
veri

          bir  iki  uc  dord
Bursa       0    1   2     3
Ankara      4    5   6     7
Rize        8    9  10    11
Istanbul   12   13  14    15

In [35]:
veri['iki']

Bursa        1
Ankara       5
Rize         9
Istanbul    13
Name: iki, dtype: int32

Birdən daha çox sütun almaq üçün list daxilinde bir list daha istifadə olunur.Misal üçün

In [36]:
veri[['bir','iki']]

          bir  iki
Bursa       0    1
Ankara      4    5
Rize        8    9
Istanbul   12   13

In [43]:
veri[:3]

        bir  iki  uc  dord
Bursa     0    1   2     3
Ankara    4    5   6     7
Rize      8    9  10    11

In [46]:
veri[veri['dord']>5]

          bir  iki  uc  dord
Ankara      4    5   6     7
Rize        8    9  10    11
Istanbul   12   13  14    15

In [47]:
veri[veri<5]=0
veri

          bir  iki  uc  dord
Bursa       0    0   0     0
Ankara      0    5   6     7
Rize        8    9  10    11
Istanbul   12   13  14    15

Loc və İloc operatorları istifadəsi

In [48]:
veri.iloc[1]

bir     0
iki     5
uc      6
dord    7
Name: Ankara, dtype: int32

In [50]:
veri.iloc[1,[1,2,3]]

iki     5
uc      6
dord    7
Name: Ankara, dtype: int32

In [51]:
veri.iloc[[1,3],[1,2,3]]

          iki  uc  dord
Ankara      5   6     7
Istanbul   13  14    15

In [53]:
veri.loc[['Rize'],['bir','iki']]

      bir  iki
Rize    8    9

In [54]:
veri.loc['Rize',['bir','iki']]

bir    8
iki    9
Name: Rize, dtype: int32

In [57]:
veri.loc[:'Rize','dord']

Bursa      0
Ankara     7
Rize      11
Name: dord, dtype: int32

In [59]:
veri=pd.Series(np.arange(5))
veri

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [60]:
veri[-1]

KeyError: -1

In [61]:
veri=pd.Series(np.arange(5), index=['a','b','c','d','e'])
veri

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [62]:
veri[-1]

4